<head>
  <meta charset="UTF-8">
  <title>Freddie Mercury Ipsum</title>
</head>

<style>
    h1 {
        color: #5561fb;

    }

    body {
        background-color: rgba(255, 216, 154, 0.55);
    }

    p {
        font-family: georgia;
        font-size: 120%;
        color: #880f00;
        opacity:1.0;
    }


</style>


<body>
<h1>Freddie Mercury Ipsum</h1>
<img src="./photos/freddiemercury_1.jpg" alt="freddiemercury_1.jpg" style="width:300px; height:150px;">
<img src="./photos/queenlogo.jpg" alt="gueenlogo.jpg" style="position:fixed;opacity:.55;">
<p> <%=


    @content



  %></p>
</body>

